body {
    background-color: white;
}

.container{
    margin-top: 3%;
}

#topo {
    margin-left: 9%;
    padding-top: 1%;
    border: ridge 7px;
    width: 77%;
    box-shadow: black 2px 2px 5px;
}

#navbar{
    margin-top: 3%;
}

#navbar .navbar {
    border-radius: 21px;
    width: 106%;
    margin-left: -2%;
}

h1{
    font-size: 33px !important;
    padding-top: 28px;
    margin-left: -2%;
    font-family: 'Montserrat', sans-serif;
}

p {
    margin-left: 3%;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

#livros{
    width: 100%;
    padding-top: 15%;
    border-radius: 60px;
    padding-left: -8%;
    margin-left: -1%;
}

#entrar{
    margin-left: 34%;
    margin-top: 26%;
}

#button {
    margin-left: -27%;
}

#corpo {
    margin-top: 4%;
}

#imagemCorpo{
    width: 100%;
    height: 146%;
}

#dadosAlunos h1{
    text-align: center;
    font-size: 42px !important;
    margin-top: 4rem
}

.table-responsive {
    display: inline-table !important;
}

#tabela {
    margin-top: 9%;
}

th {
    text-align: center !important;
}

#voltar {
    margin: 79% 72%;
    margin-left: 5%;
    margin-top: -67%;
}

#voltarLivros{
    margin: 79% 72%;
    margin-left: 5%;
    margin-top: -74%;
}

#voltarFunc {
    margin: 79% 72%;
    margin-left: 5%;
    margin-top: -72%;
}

#cadastrar {
    margin-left: 286%;
    margin-top: -52%;
}