body {
    background-color: white;
}

.container{
    margin-top: 3%;
}

#topo {
    margin-left: 9%;
    padding-top: 1%;
    border: ridge 7px;
    width: 77%;
    box-shadow: black 2px 2px 5px;
}

h1{
    font-size: 33px !important;
    padding-top: 28px;
    margin-left: -2%;
    font-family: 'Montserrat', sans-serif;
}

p {
    margin-left: 3%;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

#livros{
    width: 100%;
    padding-top: 15%;
    border-radius: 60px;
    padding-left: -8%;
    margin-left: -1%;
}

#entrar{
    margin-left: 34%;
    margin-top: 26%;
}

#button {
    margin-left: -27%;
}